@import "../style/usersPreview.scss";
@import "../style/userList.scss";

h1 {
  color: rgb(175, 175, 175);
}

.main-container {
  height: 1000px;
  width: 80%;
  color: black;
  margin: auto;
}

body {
  background-color: rgb(55, 88, 131);
}
.green-point {
  color: rgb(39, 221, 39);
}


.link {
  text-decoration: none !important;
  color: white !important;
}

.center-div {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}


.filter-by {
width: 50%;
margin:auto;
  
}

.filter-by-container{
  margin: 20px;
}

.none {
  display: none !important;
}

.table-header{
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  .user-table-container {
    width: 100%;
  }

  .main-container {
    width: 100%;
  }

  .table-header-container {
    width: 5px;
    min-width :300px !important;
    
  }

  .user-preview-container {
    width: 100%;
  }
}