.user-preview-container {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: white !important;
  background-color: #eeeeee;
}

.user-preview-container:hover {
  background-color: rgb(87, 85, 85);
  transition: 0.4s;
}

.user-name-first {
  font-weight: 600;
  text-decoration: none;

}

.user-name-last {
  font-weight: 600;
}

.users-list {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.user-details-container {
  margin: 20px;
}

.user-names-container {
  display: flex;
  flex-direction: column;
  align-items:flex-start;

}

.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.email {
color: rgb(41, 179, 197);
}

.email:hover {
  color: black;
}

