.user-preview-container {
  width: 50%;
  border-radius: 10px;
  margin:auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: black !important;
  background-color: white;
  margin-bottom: 30px;
}

.user-table-container {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: rgb(148, 148, 148) !important;
  background-color: #eeeeee;
}

.user-table-container:hover {
  background-color: rgb(138, 218, 182);
  transition: 0.3s;
}

.user-name-first {
  font-weight: 600;
  text-decoration: none;
}


.user-details-container {
  margin: 20px;
}

.user-names-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  margin-top: 10px;
}

.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.user-avatar-preview {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 35px;
  margin-bottom: 50px;
}

.email {
  color: rgb(41, 179, 197);
}

.email:hover {
  color: black;
}
